@font-face {
    font-family: 'Roboto Med';
    src: url(../fonts/Roboto-Medium.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Light';
    src: url(../fonts/Roboto-Light.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Sans Italic';
    src: url(../fonts/PTS56F.ttf);
    font-weight: normal;
    font-style: normal;
}
