.navigation {
  height: 46px;
  line-height: 46px;
  background-color: #000000;

  .container {
    height: 100%;
    line-height: 46px;
    display: flex;
    align-items: center;
  }

  .second-nav {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    font-family: "Myriad Pro Regular";

    li {
      display: flex;
      justify-content: flex-start;
      height: 100%;
      padding: 0;
      margin-left: 3px;
      margin-right: 38px;

      a {
        display: flex;
        justify-content: flex-start;
        color: #d1d1d1;
        text-transform: uppercase;
        font-size: 1.3rem;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .navigation {
    height: 340px;
    line-height: 46px;
    background-color: #eeeeee;
    margin: 0;
    padding: 0;
    display: none;


    .container {
      height: 100%;
      line-height: 46px;
      display: block;
      margin: 0;
      padding: 0;
    }

    .second-nav {
      margin: 0;
      padding: 0;
      display: block;
      text-align: center;
      font-family: "Myriad Pro Regular";

      li {
        display: block;
        height: 100%;
        padding: 0;
        margin-left: 3px;
        margin-right: 0;
        text-align: center;
        border-bottom: 1px solid white;

        a {
          text-align: center;
          display: block;
          color: #555555;
          text-transform: uppercase;
          font-size: 1.3rem

        }
      }
    }
  }
}